*{
    font-family: 'Press Start 2P', cursive;

}

html,body {
    margin: 0;
    padding: 0;

}

#intro {
    background-image: url('../images/background game.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin: 0 auto;
    width: 700px;
    height: 700px;
    position: relative;
 

}
#headline{
    position: absolute;
    top:55px;
    left: 120px;
    font-size: 67px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: 0;
    transform: rotate(6deg);


}

#startBtn {
    position: absolute;
    top:460px;
    left: 220px;
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: 0;
    cursor: pointer
}

#startBtn:hover{
    color: red;
    font-size: 80px;
    top:440px;
    left: 140px;
}


#canvas {
    display:none;
    margin: 0 auto;
    width: 700px;
    height: 700px;
    z-index: 0;
    position: relative;
}




#endScreen{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 700px;
    height: 700px;
    line-height: 400%;
    font-size: 30px;
}

#endScreen h1{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
}

#endScreen p{
    margin-top:0;
}



#restartBtn{
    display: block;
    background-color: transparent;
    border: none;
    font-size: 32px;
}

#restartBtn:hover{
    color: red;
    cursor: pointer;

    
}

#imgDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#endScreen img{
    width: 100px;
    transform: translateX(10px)

}

#introImage {
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto; */
    width: 1px;
    height: 1px;
}



#animationPowerUpImgOne,
#animationPowerUpImgTwo,
#animationPowerUpImgThree,
#animationPowerUpImgFour

{   
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 700px;
    height: 700px; 
    margin: 0 auto;
    /* position:fixed; */
    /* top:0; */
    /* left:50vw; */
    position: fixed;

top: 0;
left: 50%;
/* margin-top: -370px; Negative half of height. */
margin-left: -350px; /* Negative half of width. */
    display:none;
}

